[submodule "DHT-sensor-library"]
	path = DHT-sensor-library
	url = git@github.com:adafruit/DHT-sensor-library.git
[submodule "Adafruit_ESP8266"]
	path = Adafruit_ESP8266
	url = git@github.com:adafruit/Adafruit_ESP8266.git
[submodule "Adafruit_AM2315"]
	path = Adafruit_AM2315
	url = git@github.com:adafruit/Adafruit_AM2315.git
